<div class="container">
  <div class="row">
    <main class="col-md-12">
      <h2>Students</h2>
      <a href="/students/add" class="btn btn-success float-right">Add New Student</a>
      <hr />
      {{#if students}}
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Student Number</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Enrollment Status</th>
              <th></th> <!-- New column for remove button -->
            </tr>
          </thead>
          <tbody>
            {{#each students}}
            <tr>
              <td>{{studentNumber}}</td>
              <td>{{firstName}}</td>
              <td>{{lastName}}</td>
              <td>{{email}}</td>
              <td>{{enrollmentStatus}}</td>
              <td><a href="/student/delete/{{studentNumber}}" class="btn btn-danger">Remove</a></td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      {{else}}
      <p>No students found.</p>
      {{/if}}
    </main>
  </div>
</div>
